*~
.deps/
.libs/
AsciiTable.lo
BinTable.lo
CCfits.pc
Column.lo
ColumnCreator.lo
ColumnData.lo
ColumnVectorData.lo
Doxyfile
ExtHDU.lo
FITS.lo
FITSBase.lo
FITSUtil.lo
FitsError.lo
HDU.lo
HDUCreator.lo
KeyData.lo
Keyword.lo
KeywordCreator.lo
Makefile
PHDU.lo
Table.lo
config.h
config.log
config.status
cookbook
cookbook.o
libCCfits.la
libtool
stamp-h1
vs.net/Makefile
